In [34]:
import pandas as pd
import numpy as np
import ast

In [58]:
credits = pd.read_csv('dataset/tmdb_5000_credits.csv')
movies = pd.read_csv('dataset/tmdb_5000_movies.csv')

In [36]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [37]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",10/12/2009,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",19/5/2007,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",26/10/2015,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",16/7/2012,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",7/3/2012,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [38]:
movies = movies.merge(credits, left_on='title', right_on='title')

In [39]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [40]:
movies = movies[['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew']]

In [41]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [42]:
def convert(obj):
    try:
        return [i['name'] for i in ast.literal_eval(obj)]
    except:
        return []

In [43]:
movies['genres'] = movies['genres'].apply(convert)
movies['genres']

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4803                        [Action, Crime, Thriller]
4804                                [Comedy, Romance]
4805               [Comedy, Drama, Romance, TV Movie]
4806                                               []
4807                                    [Documentary]
Name: genres, Length: 4808, dtype: object

In [44]:
movies['keywords'] = movies['keywords'].apply(convert)
movies['keywords']

0       [culture clash, future, space war, space colon...
1       [ocean, drug abuse, exotic island, east india ...
2       [spy, based on novel, secret agent, sequel, mi...
3       [dc comics, crime fighter, terrorist, secret i...
4       [based on novel, mars, medallion, space travel...
                              ...
4803    [united statesâ€“mexico barrier, legs, arms, pap...
4804                                                   []
4805    [date, love at first sight, narration, investi...
4806                                                   []
4807            [obsession, camcorder, crush, dream girl]
Name: keywords, Length: 4808, dtype: object

In [45]:
movies['cast'] = movies['cast'].apply(lambda x: [i['name'] for i in ast.literal_eval(x)[:3]])  # Top 3 actors
movies['cast']

0        [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1           [Johnny Depp, Orlando Bloom, Keira Knightley]
2            [Daniel Craig, Christoph Waltz, LÃ©a Seydoux]
3            [Christian Bale, Michael Caine, Gary Oldman]
4          [Taylor Kitsch, Lynn Collins, Samantha Morton]
                              ...
4803    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4804         [Edward Burns, Kerry BishÃ©, Marsha Dietlein]
4805           [Eric Mabius, Kristin Booth, Crystal Lowe]
4806            [Daniel Henney, Eliza Coupe, Bill Paxton]
4807    [Drew Barrymore, Brian Herzlinger, Corey Feldman]
Name: cast, Length: 4808, dtype: object

In [46]:
movies['crew'] = movies['crew'].apply(lambda x: [i['name'] for i in ast.literal_eval(x) if i['job'] == 'Director'])
movies['crew']

0                                [James Cameron]
1                               [Gore Verbinski]
2                                   [Sam Mendes]
3                            [Christopher Nolan]
4                               [Andrew Stanton]
                          ...
4803                          [Robert Rodriguez]
4804                              [Edward Burns]
4805                               [Scott Smith]
4806                               [Daniel Hsia]
4807    [Brian Herzlinger, Jon Gunn, Brett Winn]
Name: crew, Length: 4808, dtype: object

In [47]:
movies['tags'] = movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']
movies['tags'] = movies['tags'].apply(lambda x: ' '.join(x).lower())

In [48]:
movies['tags']

0       action adventure fantasy science fiction cultu...
1       adventure fantasy action ocean drug abuse exot...
2       action adventure crime spy based on novel secr...
3       action crime drama thriller dc comics crime fi...
4       action adventure science fiction based on nove...
                              ...
4803    action crime thriller united statesâ€“mexico bar...
4804    comedy romance edward burns kerry bishÃ© marsha...
4805    comedy drama romance tv movie date love at fir...
4806    daniel henney eliza coupe bill paxton daniel hsia
4807    documentary obsession camcorder crush dream gi...
Name: tags, Length: 4808, dtype: object

In [49]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],action adventure fantasy science fiction cultu...
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski],adventure fantasy action ocean drug abuse exot...
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]",[Sam Mendes],action adventure crime spy based on novel secr...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan],action crime drama thriller dc comics crime fi...
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton],action adventure science fiction based on nove...

In [50]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(movies['tags'])

In [51]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [52]:
def get_recommendations(titles, cosine_sim=cosine_sim):
    indices = []
    for title in titles:
        if title in movies['title'].values:
            indices.append(movies[movies['title'] == title].index[0])
    
    sim_scores = np.sum([cosine_sim[idx] for idx in indices], axis=0)  # Sum similarities
    sim_scores = list(enumerate(sim_scores))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Remove the input movies from recommendations
    sim_scores = [i for i in sim_scores if i[0] not in indices][:100]

    return movies['title'].iloc[[i[0] for i in sim_scores]].tolist()

In [53]:
#Get user input
user_movies = []
print("Enter up to 5 movie titles (press Enter to stop):")
for i in range(5):
    title = input(f"Movie {i+1}: ").strip()
    if title:
        user_movies.append(title)
    else:
        break

Enter up to 5 movie titles (press Enter to stop):

In [54]:
# Get recommendations
recommendations = get_recommendations(user_movies)
print("\nRecommended Movies:")
print(recommendations)

Recommended Movies:
['X-Men', 'X2', 'X-Men: First Class', 'Kung Fu Panda 3', 'X-Men: The Last Stand', 'X-Men: Days of Future Past', 'X-Men: Apocalypse', 'The Avengers', 'Captain America: The First Avenger', 'The DUFF', 'Avengers: Age of Ultron', 'Captain America: Civil War', 'X-Men Origins: Wolverine', 'Kate & Leopold', "Schindler's List", 'Ant-Man', 'Kung Fu Panda 2', 'Freaky Friday', 'Unbroken', 'Iron Man 2', 'Confessions of a Teenage Drama Queen', 'Fateless', 'Super', 'The Longest Yard', 'Iron Man 3', 'Windtalkers', 'Deadpool', 'The Little Prince', 'The Monuments Men', "Charlie's Angels", '47 Ronin', 'High School Musical 3: Senior Year', 'Thor: The Dark World', 'Captain America: The Winter Soldier', 'Teenage Mutant Ninja Turtles', 'Casablanca', 'Closer to the Moon', 'Fantastic Four', 'The Helix... Loaded', 'The Incredible Hulk', 'Just Like Heaven', 'The Image Revolution', 'The Shadow', 'Me You and Five Bucks', 'High School Musical', 'Judgment at Nuremberg', 'Grosse Pointe Blank', 'Elektra', 'Thor', 'Iron Man', 'Fury', 'Little Boy', 'Easy A', 'TMNT', 'Nanny McPhee and the Big Bang', 'Firestarter', 'Superman III', 'Pearl Harbor', 'The Lucky Ones', 'Music and Lyrics', 'Man of Steel', 'The White Countess', 'Spawn', 'Superman Returns', '17 Again', 'Blended', 'Charlie Bartlett', 'I Love You, Beth Cooper', 'Chasing Amy', 'Flyboys', 'Flags of Our Fathers', 'O', "Charlie Wilson's War", 'Saving Private Ryan', 'Grown Ups 2', 'Superman II', 'Saints and Soldiers', 'The Hunting Party', "Ender's Game", 'Red Sonja', 'School of Rock', 'Fantastic 4: Rise of the Silver Surfer', 'Aloha', 'The Amazing Spider-Man 2', 'The Vow', 'Cars 2', 'The Last Emperor', 'Curious George', 'The Corruptor', 'Blade: Trinity', 'A Cinderella Story', 'Spider-Man 3', 'Superhero Movie', 'Rush Hour 3', 'Tora! Tora! Tora!', 'Batman Begins', 'Project X', '22 Jump Street', 'Superman', 'Legends of the Fall']

In [55]:
import pickle
with open('movie_data.pkl', 'wb') as file:
    pickle.dump((movies, cosine_sim), file)